.header {
    height: 70px;
    background: #223f5d;
    box-shadow: 0 3px 9px black;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin: auto;
    font-weight: 700;
    color: rgb(35, 35, 35);
}

.header_right {
    display: flex;
    align-items: center;
}
.header_right div {
    color: #f6f6f6;
    margin-right: 10px;
}

.header_right_modal-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_left_modal-add-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.header_left_modal-add-task textarea {
    width: 100%;
    height: 150px;
}

.header_left_modal-add-task input {
    width: 100%;
}

.header_left_modal-add-task button {
    width: 100%;
}
